.div_contenedor{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contedor_2{
    width: 40rem;
    height: 40vh;
    position: relative;
    @media (max-width: 768px) {
        width: 90%;
    }
}
.contedor_3{
    width: 100%;
    height: 40vh;
    background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    z-index: 2;
    position:absolute;
}

.contenedor_4{
    z-index: 1;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.fila_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.fila_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.div_item{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    background-color: #334155;
    border-radius: 0.4rem;
    padding: 0.2rem 0.5rem;
    margin-right: 0.3rem; 
    margin-bottom: 0.3rem; 
    color: #e2e8f0;
    box-shadow: 
      0 0.1rem 0.2rem rgb(0 0 0 / 10%),
      0 0.1rem 0.5rem rgb(0 0 0 / 20%),
      0 0.2rem 1.5rem rgb(0 0 0 / 30%);
}

.numeral {
    color: #64748b;
}

.fila_1 {
    animation: mover-izquierda 30s linear infinite;
}

.fila_2 {
    animation: mover-derecha 30s linear infinite;
}

@keyframes mover-izquierda {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30%);
    }
}

@keyframes mover-derecha {
    0% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0);
    }
}